.addListButton {
  text-align: center;
}

.home .title {
  text-align: center;
  margin-bottom: 5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 5em 1em;
}
.footer:hover a {
  text-decoration: none;
}

.logOut {
  transition: all 0.2s;
}

.footer .logOut:hover {
  color: var(--button-pink);
}
