.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5em 1em;
}

.button {
  background: none;
  border: none;
}

.icon {
  font-size: 2em;
  vertical-align: middle;
  color: var(--button-pink);
  transition: all 0.2s;
}

.icon:hover {
  color: var(--button-green);
  border-color: var(--white);
  cursor: pointer;
}

input[type="text"] {
  font-size: 1.5em;
  background: none;
  border: none;
  color: var(--white);
  margin-bottom: 1em;
}

.recentUsers {
  margin-top: 5em;
  display: block;
}

.recentUsers .wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 20em;
}

.recentUsers p {
}

.recentUser {
  margin: 0 1em;
}

.recentUser:hover {
  text-decoration: none;
}
