.result {
  display: grid;
  grid-template-columns: 6em auto;
  grid-template-rows: 1fr auto;
  gap: 0px 1em;
  grid-template-areas:
    "poster titleBar"
    "poster overview";

  padding: 1em 0;
  margin: 1em 0;
  transition: all 0.2s;
}

.result:hover {
  transform: translateX(1em);
}

.poster:hover,
.title:hover {
  cursor: pointer;
}

.poster {
  grid-area: poster;
}

.poster img {
  border-radius: 1em;
  width: 100%;

  box-shadow: -1em 0em 1.5em #000;
}

.titleBar {
  grid-area: titleBar;
}

.titleBar {
  grid-area: titleBar;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.titleBar {
  grid-area: titleBar;
}

.title {
  font-size: 2em;
  flex: 2;
  text-align: start;
}

.date {
  flex: 1;
  text-align: end;
}

.overview {
  grid-area: overview;
  text-align: start;
}
