.cardList {
  display: block;
  overflow: hidden;
  transition: all 1s;
}
.cardList h1 {
  text-align: left;
  margin: 1rem 1rem 0;
}

.cardListcontainer {
  display: flex;
  padding: 0 3rem 3rem;
  margin: 0 auto;
  overflow-x: scroll;
}

.cardList::-webkit-scrollbar {
  display: none;
}
