.empty {
  justify-content: center !important;
  padding: 0 !important;
}

.card {
  min-height: 35em;
  width: 25em;
  min-width: 20em;
  padding: 1.5em;
  padding-bottom: 0em;
  border-radius: 1em;
  background: var(--secondary-dark);
  box-shadow: -1em 0em 1.5em #000;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  transition: all 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  margin-top: 3em;
}

.deleteButton {
  position: absolute;

  top: 1em;
  left: 1em;
}
.card:focus-within ~ .card,
.card:hover ~ .card {
  transform: translateX(130px);
}

@media (hover: hover) and (pointer: fine) {
  .card:focus-within ~ .card,
  .card:hover ~ .card {
    transform: translateX(130px);
  }

  .card:hover {
    transform: translateY(-1em);
    cursor: grab;
  }
}

.card:not(:first-child) {
  margin-left: -130px;
}

.poster {
  display: flex;
  justify-content: center;
  margin: 1em auto;
  max-width: 6em;
  max-height: 9em;
}

.poster img {
  border-radius: 1em;
  width: 100%;
  height: auto;
  box-shadow: -1em 0em 1.5em #000;
  transition: all 1s;
}

.card:hover .poster img {
  transform: scale(1.1);
}

.titleBar {
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.titleBar * {
  margin: 0;
  padding: 0;
}

.title {
  flex: 2;
  font-size: 1.5em;
}

.date {
  font-size: 0.8em;
  flex: 1;
  text-align: end;
}

.card:hover .title {
  text-shadow: -1em 0em 1.5em #000;
  transition: all 0.5s;
}

.tagline {
  font-style: italic;
  color: var(--muted);
  transition: all 0.2s;
}

.card:hover .tagline {
  color: var(--white);
}

.vote {
  display: flex;
  align-items: center;
  margin: 2em 0 0 0;
}

.vote .rating {
  max-width: 4em;
  margin-right: 1em;
}

.vote p {
  font-size: 1.5em;
}

.rating text {
  font-size: 1.5em !important;
  font-weight: normal;
  fill: none !important;
}

.pink {
  stroke: var(--button-pink) !important;
}

.genres {
  padding: 0.5em 0 1em;
  line-height: 2;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.genres a {
  font-style: normal;
  font-weight: 600;
  font-size: 0.5em;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66em;
  border: 3px solid #28242f;
  border-radius: 2em;
  padding: 0.2em 0.85em 0.25em;
  position: relative;
  margin-top: 1em;
  transition: all 0.2s;
}

.genres a:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

footer p {
  text-align: center;
  font-size: 0.75em;
  color: var(--muted);
}
